:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #219ff3;
  --background-color: #ffffff;
  --footer-text-color: #2f303a;
  --hero-background-color: #2f303a;
  --hero-text-color: #ffffff;
  --logo-white-text-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
  --hover-hero-button: #188ce8;
  --outline-color: 2px solid tomato;
  --header-border-bottom: #ececec;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms linear;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.input-wrap {
  position: relative;
}

.modal-input {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color var(--timing-function);
  justify-content: center;
  align-items: center;
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: transparent;
  transition: border-color var(--timing-function);
}
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.check-text .check-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  margin-right: 8.38px;
  display: flex;
  text-align: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text .check-wrap {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #fff;
}
.input-check:focus + .check-text .check-wrap {
  border-color: var(--accent-color);
}

/* .input-check {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
} */
/* .check-text::before {
  content: "";
  width:16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  margin-right: 8.38px;
}

.input-check:checked + .check-text::before {
background-color: var(--accent-color);
background-image: url(../images/Check.svg);
border-color: transparent;
background-position: center;
background-repeat: no-repeat;
} */
.accent-check-text {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.modal-submit-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--hero-text-color);
  cursor: pointer;
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding: 32px 0 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--timing-function);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--timing-function);
}

.link.current:hover::after,
.link.current:focus::after {
  transform: scaleX(1);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--accent-color);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.smartphone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--header-border-bottom);
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--timing-function);
}

.logo-header {
  color: var(--primary-text-color);
}

.hero {
  padding: 200px 0 200px 0;
  background-color: var(--hero-background-color);
  text-align: center;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img\ hero\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  min-width: 216px;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
  transition: var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-hero-button);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.benefits__background {
  display: flex;
  height: 120px;
  width: 270px;
  background-size: contain;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.benefits__item {
  flex-basis: calc(25% - 30px);
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0;
}

.benefits__caption {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.feature.section {
  padding-top: 0;
}

.feature .list {
  display: flex;
}

.feature .item {
  max-width: 370px;
  margin-right: 30px;
}
.feature .item:last-child {
  margin-right: 0;
}

.feature-title,
.team-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.cover-text {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
  transform: translateY(-100%);
}

.team {
  background-color: var(--team-background-color);
  text-align: center;
}

.team .list {
  display: flex;
}

.team .card {
  background-color: var(--team-background-color);
}
.team .card:not(:last-child) {
  margin-right: 30px;
}

.team .card {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card .photo {
  margin-bottom: 30px;
}

.card .text {
  padding-bottom: 30px;
}

.card.title {
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.social-link-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: var(--timing-function);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.social-link-icon {
  fill: currentColor;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: var(--timing-function);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--footer-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer.item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .logo {
  padding-bottom: 0;
  padding-top: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.adress .street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-color);
  text-decoration: none;
}

.street {
  transition: var(--timing-function);
}
.street:hover, .street:focus {
  color: var(--accent-color);
}

.contacts {
  transition: var(--timing-function);
}
.contacts:hover, .contacts:focus {
  color: var(--accent-color);
}

.adress .contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contacts-text-color);
  text-decoration: none;
}

.action {
  width: 206px;
  margin-left: 70px;
}

.action-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--logo-white-text-color);
  margin-bottom: 20px;
}

.action-list {
  display: flex;
  gap: 10px;
}

.action-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--timing-function);
}
.action-link-link:hover, .action-link-link:focus {
  background-color: var(--accent-color);
}

.action-icon {
  fill: var(--background-color);
}

.form-subscribe {
  margin-left: 93px;
}

.footer-form {
  margin-top: 20px;
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.footer-email-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color var(--timing-function);
}
.footer-email-input:focus, .footer-email-input:hover {
  border: 1px solid var(--accent-color);
}
.footer-email-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--timing-function);
}
.input-btn:hover, .input-btn:focus {
  background-color: #188ce8;
}

.footer-subscribe-icon {
  margin-left: 10px;
  fill: #fff;
}

.logo-footer {
  color: var(--logo-white-text-color);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--team-background-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: var(--timing-function);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.portfolio .section {
  background-color: var(--background-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.filters-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.filters-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.filters {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: var(--timing-function);
}
.filters:hover, .filters:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-text-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-card:hover .overlay-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */