:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #219ff3;
    --background-color: #ffffff;
    --footer-text-color: #2f303a;
    --hero-background-color: #2f303a;
    --hero-text-color: #ffffff;
    --logo-white-text-color: #ffffff;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --team-background-color: #f5f4fa;
    --hover-hero-button: #188ce8;
    --outline-color: 2px solid tomato;
    --header-border-bottom: #ececec;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }