.main-nav {
  display: flex;
  align-items: center;
  padding: 16px 15px 16px 15px;

  @include tablet {
    display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  }

  @include desktop {
    display: flex;
  align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  // display: flex;
  display: none;
  margin-left: 93px;

  @include tablet {
    display: flex;
    margin-left: 87px;
  }


  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.site-nav .link {
  display: block;
  padding: 32px 0 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--timing-function);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--timing-function);
}

.link.current:hover::after,
.link.current:focus::after {
  transform: scaleX(1);
}

.auth-nav {
  // display: flex;
    display: none;
  margin-left: auto;

  @include tablet {
      display: block;
      margin-left: 66px;
    }

    @include desktop {
      display: flex;
      margin-left: 315px;
  
    }

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}
.mail-item {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 0;
  }
}

.smartphone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--header-border-bottom);
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--timing-function);
}

.logo-header {
  color: var(--primary-text-color);
}