.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  // display: flex;
  display: none;
  margin-left: 93px;

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.site-nav .link {
  display: block;
  padding: 32px 0 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--timing-function);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--timing-function);
}

.link.current:hover::after,
.link.current:focus::after {
  transform: scaleX(1);
}

.auth-nav {
  // display: flex;
    display: none;
  margin-left: auto;

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.smartphone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--header-border-bottom);
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--timing-function);
}

.logo-header {
  color: var(--primary-text-color);
}


// mobie-menu


.menu-open-btn {
  display: block;
    margin-left: 276px;
    background-color: transparent;
    border: none;
    @include tablet {
      display: none;
    }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width:100%;
  height:100%;
  z-index: 1;
  padding: 10px 0 10px 0;
}

.mob-container {
  width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu-close-btn {
  display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
  &:hover,
    &:focus {
      color: var(--accent-color);
    }
}

.menu-open-icon {
}

.list {
   list-style: none;
}

.mob-menu-list {
  padding-bottom: 50px;
}


.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--timing-function);

    @include mobile {
      font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.02em;
    }
    &:hover,
      &:focus {
        color: var(--accent-color);
      }
}

.mob-menu-bottom {

}

.mob-contacts {
  
}

.mob-contacts-nav {
padding-bottom: 64px;
}

.mob-contacts-mail-item {}

.item {}

.mob-tel-link {
  display: block;
font-weight: 500;
  font-size: 7vw;
  line-height: 1.17;
  letter-spacing: 0.02em;

  text-decoration: none;
  list-style: none;
    color: #2196F3;
      @include mobile {
        font-weight: 500;
          font-size: 24px;
          line-height: 1.17;
          letter-spacing: 0.02em;
      }
}

.mob-mail-link {
  display: block;
  font-weight: 500;
    font-size: 24px;
    line-height:1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
      list-style: none;
    color: #757575;
    
      @include mobile {
        font-weight: 500;
          font-size: 34px;
          line-height: 1.17;
          letter-spacing: 0.02em;
      }
}
.mob-contacts-smartphone-item {
  padding-bottom: 32px;
}

.mob-social-list {
  display: flex;
  gap: 10px;
  padding-bottom: 48px;
}

.mob-social-item {
&:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

.mob-social-link {
  font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}